{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="../../../SymfonyLP/SymfonyLP/public/style.css">
{% endblock %}

{% block body %}
    <div class="Topnav">
        {% include 'navbar.html.twig' %}
    </div>
    <div class="Home">

        <h1 class="Home_title">Panel administrateur</h1>
        <p class=""></p>

    </div>
{% endblock %}

