<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}ImageNest{% endblock %}</title>
    <link rel="icon" href="/images/icon.png">

    {% block css %}
        <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap"/>
</head>

<body>

{% block body %}

{% endblock %}

</body>
</html>